* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.hero {
  width: 100%;
  height: 100vh;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.spark-navbar {
  width: 60vw;
  /* height: 80px; */
  position: fixed;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 8px;
  background: rgba(250, 250, 250, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(7px);
}

a {
  text-decoration: none;
}

.spark-navbar .logo {
  display: flex;
  width: 25px;
  height: 41.067px;
  gap: 12px;
}

.spark-navbar .spark-logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: #d9d9d9;
  /* margin-left: 20px; */
}

.spark-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap:20px; */
  transition: all 0.3s ease;
  /* background-color: red; */
}
.spark-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.spark-navbar .spark-nav-links a {
  font-size: 17px;
  font-weight: 500;
  color: #d9d9d9;
  /* padding: 10px; */
  /* border-radius: 5px; */
  transition: all 0.3s ease;
}

.spark-navbar .notes-button {
  font-size: 1.2rem;
  font-weight: 500;
  color: #d9d9d9;
  padding: 12px 40px 12px 40px;
  border-radius: 5px;
  transition: all 0.3s ease;
  border-radius: 12px;
  background-color: #0c62e4;
  display: flex;
  position: relative;
  /* right: 15px; */
}

.spark-navbar .notes-button a {
  color: #d9d9d9;
}

@media only screen and (max-width: 1920px) {
  .spark-navbar .spark-nav-links {
    gap: 12px;
  }

  .mobile-nav-toggle {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .spark-navbar .spark-nav-links {
    gap: 12px;
  }
  .mobile-nav-toggle {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .spark-navbar .spark-nav-links {
    gap: 8px;
  }
  .mobile-nav-toggle {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .spark-navbar .spark-nav-links {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 400px) {
  .spark-navbar {
    display: none;
  }

  .mobile-nav-toggle {
    height: 100px;
    width: 100px;
    position: fixed;
  }
}
